#registerText{
    width: auto;
    
    text-decoration: none;

    color: #000;
    
    transition: 0.25s;
}
    #registerText:hover{
        color: #0c6efe;

        cursor: pointer;
        
        transition: 0.25s;
    }