#registerText{
    margin-bottom: 5px;
    
    text-decoration: none;
    
    color: #000;
    
    transition: 0.25s;
}
    #registerText:hover{
        color: #0c6efe;
        transition: 0.25s;
        cursor: pointer;
    }