#registerText{
    padding: 5px;

    text-decoration: none;
    color: #000;
    
    transition: 0.25s;
}
    #registerText:hover{
        transition: 0.25s;
        
        color: #0c6efe;

        cursor: pointer;
    }