html, body{
    background-color: #202428;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logsterCard {
    width: auto;
    height: auto;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 20px;
    padding: 10px;  padding-top: 0;
    
    border-radius: 10px;

    font-size: 14px;
}

    #logsterTitle{
        width: 100%;

        margin: 0;
        padding: 10px;

        border-radius: 10px 10px 0 0;

        color: #000;
        font-size: 16px;
        background-color: #f9f9fb;
    }

    #separator{
        width: 100%;
        background-color: #bbb;
        margin: 0; margin-bottom: 15px;
    }

    .fieldBox{
        display: flex;

        width: 100%;
        height: auto;

        margin-bottom: 10px;
        
        border-radius: 5px;
        border: 1px solid #bbb;
    }

        .labelz{
            width: 40%;
            padding: 10px;
            background-color: #f9f9fb;
            border-right: 1px solid #bbb;
            border-radius: 5px 0 0 5px;
        }

        .inputLarge{
            width: 100%;     
            padding: 10px;       
            border: 0;
            border-radius: 5px;
        }

    .logsterBtn{
        width: 100%;

        padding: 10px 20px;
        margin-bottom: 15px;

        border: none;
        border-radius: 5px;

        background-color: #0c6efe;
        
        font-weight: bold;
        color: #fff;
        
        cursor: pointer;
        transition: 0.5s;
    }
        .logsterBtn:hover{
            box-shadow: 0 0 10px #000;
            transition: 0.5s;
        }